* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-red {
  color: #4285f4 !important;
}

.signInBtn {
  background-color: #db4437 !important;
}

.signInBtn:hover {
  background-color: #4285f4 !important;
}

.loginPageContainer {
  min-height: 90vh !important;
}
